# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.venv/
*.swp
*.swo

# Flask / Project
instance/
*.db
*.sqlite
*.sqlite3
migrations/

# IDEs / Editor
.vscode/
.idea/
*.iml

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env